
# Python virtual environment
venv/
.venv/

# Pycache
__pycache__/
*.pyc

# SELinux policy files (generated)
*.pp
*.te

# Logs and Exports
theSmallComparator-logs-*.txt
*.dxf
*.log

# Helper scripts
dumbinitgit.sh
